player-connection-mode=Listen
player-connection-guid=2769692778
player-connection-debug=0
player-connection-project-name=BanditBooty
player-connection-ip=121.168.26.110
player-connection-ip=192.168.229.1
player-connection-ip=192.168.230.1
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
